body{
	background-color: #3DA2F8;
}


.container{
	position: relative;
	width: 350px;
	height: 500px; 
	/*display: flex;*/
}
.card{
	position: absolute;
	width: 140%;
	height: 90%;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in;
	/*padding: 50px 0px 0px 50px;*/
	margin-left: 110%;
	margin-top: 50%;
	margin-bottom: 40px;
   
}
.card h4{
	font-family: arial;
	font-size: 20px;
	text-align: center;
}
.card:hover{
	transform:rotateY(180deg);
}
.front{
    position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
    background: #2E294E;
    border-radius: 18px;	
}
.back{
	border-radius: 18px;
     position: absolute;
	 width: 100%;
	 height: 100%;
	 backface-visibility: hidden;
     background: #FC7753;
     transform:rotateY(180deg);	
}
.searchbtn{
border: 0px;
  width: 210px;
  height: 65px;
  border-radius: 50px;
  margin-top: 40%;
  margin-left: 30%;
  font-size: 15px;
  font-weight: 4px;
}
.searchbtn:hover{
    background:#1C65A4 ;
    color: white;
    cursor: pointer;
    transition: 0.6s;
}


.search-area{
	position: absolute;
	margin-top:8%; 
	margin-left: 31%;
  width: 250px;
  border: 3px solid #fff;
  background: transparent;
  padding: 10px 25px;
  border-radius: 50px;
  outline: none;
  font-size: 18px;
  color: #fff;
}
.search-button{
	position: absolute;
	margin-top:8%; 
	margin-left: 54%;
	border: 0px;
  width: 110px;
  height: 45px;
  border-radius: 50px;
  font-size: 15px;
}

.search-button:hover{
    background:#1C65A4 ;
    color: white;
    cursor: pointer;
    transition: 0.8s;
}