body{
  margin: 0;
  padding: 0;
}



.bkg-image{
  background-image:url("crop10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
height: 145%;
}




.container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1em;
  padding: 3%;
}

.container div{
  background-color: #eee;
  padding: 2em;
  clip-path: polygon(0 6%, 100% 0%, 100% 94%, 0% 100%);
}


@media (max-width: 1000px){

.container{
  display: grid;
  grid-template-columns: 50% 50%;
}
}


@media (max-width: 700px){

.container{
  display: grid;
  grid-template-columns: 33%;
}
}


.container div h1{
  margin-top: 0;
  text-align:center;
  font-family: arial;
}
.container div h6{
  text-align:center;
  font-family: arial;
  margin-right:7% auto;
}

.container div img{
  margin-left: 4%;
  height: 250px;
  width: 320px;
  
}


@media (max-width: 1200px) {
  .container div img{
    height: 270px;
    width: 300px;
  }
  
}


@media (max-width: 1100px) {
  .container div img{
    height: 240px;
    width: 270px;
  }
  
}


@media (max-width: 1150px) {
  .container div img{
    height: 200px;
    width: 230px;
  }
  
}


@media (max-width: 800px) {
  .container div img{
    height: 200px;
    width: 230px;
    margin-left:10%;

  }
  
}

@media (max-width: 600px) {
  .container div img{
    height: 180px;
    width: 150px;
    margin-left: 9%;
  }
  
}


@media (max-width: 400px) {
  .container div img{
    height: 150px;
    width: 100px;
    margin-left: 11%;
  }
  
}


.container div a{
  text-decoration: none;
}
.container div p{
  text-align: center;
  font-family: arial;
  font-size: 16px;
}
/*.container div p:hover{
  transition:0.6s;
}
*/
.container img:hover{
box-shadow: 0 14px 28px rgba(0, 0, 0, .25);
transition:0.6s;
}